/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Teko:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #401e17;
    font-family: "Exo", sans-serif;
}

h1 {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Header */
header {
    background-color: rgba(244, 215, 218, .5);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #401e17;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(244, 215, 218, .5);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 1.7rem;
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}

/* Media query - Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        background-color: rgba(244, 215, 218, 0);
    }

    #menu {
        display: flex;
    }

    #menu > li:not(:last-child) {
        border-right: 1px solid #401e17;
    }

    #menu > li > a {
        padding: 7px 15px;
    }
    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
    }
}